.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination__item {
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #000;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    border: 3px solid gray;
}

.pagination__item.active,
.pagination__item:hover {
    background-color: #04aa6d;
    color: #fff;
    border: none;
}

.pagination__item.disabled {
    background-color: transparent;
    border: none;
}
