<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>
            <a href="/dashboard">My online note</a>
        </h1>
        <nav>
            <a href="./profile" class="nav__btn" id="profile-btn"><i class="fa-solid fa-user"></i></a>
            <button class="nav__btn" id="log-out-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </nav>
    </header>

    <div class="wrapper">
        <main>
            <h2>DashBoard</h2>
            <form id="create-form">
                <input id="create-name" type="text" placeholder="Name" name="name" required>
                <input id="create-content" type="text" placeholder="Content" name="content" required>
                <input type="submit" value="Create">
            </form>
            <form id="search-form" action="/dashboard">
                <input id="search-content" type="text" placeholder="Search by name here" name="search" required>
                <input type="submit" value="Search">
            </form>
            <ul id="note-list">
            </ul>
            <ul class="pagination"></ul>
        </main>
    </div>
    <script src="./js/dashboard.js" type="module"></script>
</body>
</html>