<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/forgetPassword.css">
</head>

<body>
    <header>
        <h1>
            <a href="/dashboard">My online note</a>
        </h1>
    </header>

    <div class="wrapper">
    <main>
        <h2>Forgot password</h2>
        <form id="forgot-password-form" class="main-form">
            <input id="email-input" type="email" placeholder="Email" name="email" required
                pattern="^[a-zA-Z0-9](\.?[a-zA-Z0-9]){5,}@g(oogle)?mail\.com$" title="Only support gmail now">
            <p class="alert-message">Error</p>
            <input type="submit" value="Submit">
        </form>
        <a href="../sign-in">Got your password back? Sign in here!</a>
    </main>
    </div>
    <script src="./js/forgetPassword.js" type="module"></script>
</body>
</html>