<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/setting.css">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h1>
            <a href="/dashboard">My online note</a>
        </h1>
        <nav>
            <a href="./profile" class="nav__btn" id="profile-btn"><i class="fa-solid fa-user"></i></a>
            <button class="nav__btn" id="log-out-btn"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </nav>
    </header>

    <div class="wrapper">
        <main>       
            <h2>Profile</h2>
            <section class="section profile">
                <div class="section__content">
                    <div class="content__row">
                        <p class="row__title"></p>
                        <p class="row__desc"></p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="./js/profile.js" type="module"></script>
</body>
</html>